$ph-font-family: "Chinese Quote",-apple-system,"BlinkMacSystemFont","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji Neue","Segoe UI Emoji","Segoe UI Symbol";

$ph-fs-emphasize: 24px;
$ph-fs-title: 18px;
$ph-fs-content: 14px;

$ph-fc-title: #555555;
$ph-fc-content: #999999;
$ph-fc-assist: #D3D3D3;
$ph-fc-emphasize: #FF7D7E;

$ph-letter-spacing-normal: 1.5px;
$ph-border-radius-normal: 4px;

$ph-color-main: linear-gradient(-70deg, #5E81CF 0%, #4863AC 100%);
$ph-color-assist-main: #5E81CF;
$ph-color-assist-sec: #899ED6;
$ph-color-assist-bg: #F4F4F4;
$ph-color-assist-card: #FFFFFF;
$ph-color-func-link: #1890FF;
$ph-color-func-success: #94E5B3;
$ph-color-func-warning: #FAAD15;
$ph-color-func-error: #FF7D7E;

